@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(59, 233, 111, 0.1);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}

.volumeBar{
  --bar-bg: white;
  --seek-before-width: 130px;
  --seek-before-color: rgb(255, 255, 255);

  appearance: none;
  background: rgba(255, 255, 255, 0.4);
  height: 5px;
  border-radius: 4px;
  width: 130px;
  
}

.volumeBar::before{
  content: "";
  height:5px;
  width: var(--seek-before-width);
  background-color: var(--seek-before-color);
  border-radius: 4px;
  position: absolute;
  top:12px;
  left:0;
  
  cursor: pointer;
}

.volumeBar::-webkit-slider-thumb{
  -webkit-appearance: none;
  width:13px;
  height:13px;
  border-radius: 6.5px;
  z-index: 100;
  position: relative;
  background-color: rgba(255, 255, 255, 0) ;
  cursor:pointer;
  box-sizing: border-box;
}









